<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preload" href="../Components/Footer/footer.css" as="style">
        <link rel="preload" href="../Components/Footer/footer.js" as="script">

        <link rel="stylesheet" href="../Components/Footer/footer.css">
    </head>
    <body>
        <div class="footer roboto-condensed-medium">
            <div class="credits">
                <span idLan="footer.credits.designers">Designer: Avy, Willie, Zuko</span>
                <span idLan="footer.credits.developer">Developer: Willie, LPMBoy</span>
            </div>
            <div class="footerMain">
                <p idLan="footer.copyright" class="copyright">&copy; 2026 UNIT. All rights reserved.</p>
                <p class="email">unit4eva14112025@gmail.com</p>
                <hr class="footerLine">
                <div class="social">
                    <a href="https://discord.gg/RAcuqdza3v" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    <a href="https://www.youtube.com/@UNIT4eva" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.tiktok.com/@unit_brm5" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://github.com/unit4eva" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
        <script src="../Components/Footer/footer.js" async defer type="module"></script>
    </body>
</html>