<!DOCTYPE html>
<html>
    <!-- Connect other files -->
    <link rel="preload" href="../Components/Navbar/navbar.css" as="style">
    <link rel="preload" href="../Components/Navbar/navbar.js" as="script">
    <link rel="preload" href="/util/LanguageSwitching/lang.js" as="script">
    <link rel="stylesheet" href="../Components/shared.css">
    <link rel="stylesheet" href="../Components/Navbar/navbar.css">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://googleapis.com" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap" rel="stylesheet">

<body>
    <div class="navbar p-0">
            <div class="topNav">
                <h1 class="roboto-condensed-semibold">UNITED NATIONS</h1>
                <div class="floatTrapezoid">
                    <div class="logo"><a href="../Homepage"><img src="../Components/Navbar/img/logoNoBgNoEdge.png" alt=""></a></div>
                </div>
                <h1 class="roboto-condensed-semibold">INTELLIGENCE TASKFORCE</h1>
            </div>
        <div class="botNav roboto-condensed-regular" id="botNav">
            <button class="hamburger-button" id="hamburgerButton">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </button>
            <div class="mainMenu">
                <div class="leftSide">
                    <a href="../Propaganda/" idLan="navbar.leftSide.propaganda">Propaganda</a>
                    <a href="../Leaderboard/" idLan="navbar.leftSide.leaderboard">Leaderboard</a>
                    <a href="../Divisions/" idLan="navbar.leftSide.divisions">Divisions</a>
                    <a href="../Ranks/" idLan="navbar.leftSide.ranks">Ranks</a>
                    <a href="../JoinUs/" idLan="navbar.leftSide.joinUs">Join us</a>
                </div>
                <div class="barrier"></div>
                <div class="rightSide">
                    <div class="lan">
                        <button id="lanButton">
                            <img src="/data/Language/countryFlags/Flag_of_England.svg.webp" alt="" class="flagImg" id="curFlag">
                            <span id="curLan">In English</span>
                            <i class="fa-solid fa-caret-down"></i>
                        </button>
                        <ul id="lanList"></ul>
                    </div>
                    <div class="line2"><span>|</span></div>
                    <div class="light-dark" id="themeSwitch">
                        <span id="ldStatus" idLan="navbar.theme.light">Light mode</span>
                        <button class="ldbtn" id="LDbtn">
                             <div class="btnOutside">
                                <div class="btnInside"></div>
                             </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay" class="overlay">
        <span idLan="">Random text</span>
    </div>
    <script src="../Components/Navbar/navbar.js" async defer type="module"></script>
    <script src="/util/LanguageSwitching/lang.js" async defer type="module"></script>
</body>
</html>