* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body, html {
    overflow-x: hidden;
    width: 100%;
}
/* Parralax banners */

.parralaxImg {
    position: relative;
    width: 100%;
    height: 38rem;
    /* height: 25rem; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    clip-path: polygon(
        /* --- TOP EDGE --- */
        0 0,                             /* Outer left starts pushed down */
        calc(50% - 385px) 35px,              /* End of long shallow slope */
        calc(50% - 345px) 110px,                 /* End of steep climb to top edge */
        calc(50% + 345px) 110px,                 /* Flat center */
        calc(50% + 385px) 35px,              /* Steep drop */
        100% 0,                          /* Long shallow drop to outer right */
        
        /* --- BOTTOM EDGE --- */
        100% calc(100% - 110px),             /* Outer right starts pushed up */
        calc(50% + 385px) calc(100% - 75px), /* End of long shallow slope */
        calc(50% + 345px) 100%,              /* End of steep drop to bottom edge */
        calc(50% - 345px) 100%,              /* Flat center */
        calc(50% - 385px) calc(100% - 75px), /* Steep climb */
        0 calc(100% - 110px)                 /* Long shallow climb to outer left */
    );
    align-items: flex-end;

    /* margin-top: -7rem; */
    z-index: 2;
    padding: 9rem 0;
}

.parralaxImg:nth-child(1) {
    margin-top: 0;
    clip-path: polygon(
        /* --- TOP EDGE --- */
        0 0,
        100% 0,
        /* --- BOTTOM EDGE --- */
        100% calc(100% - 110px),             /* Outer right starts pushed up */
        calc(50% + 385px) calc(100% - 75px), /* End of long shallow slope */
        calc(50% + 345px) 100%,              /* End of steep drop to bottom edge */
        calc(50% - 345px) 100%,              /* Flat center */
        calc(50% - 385px) calc(100% - 75px), /* Steep climb */
        0 calc(100% - 110px)                 /* Long shallow climb to outer left */
    );
}

.parralaxImg img {
    /* height: 38rem; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}

.parralaxImg p {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    letter-spacing: 0.3rem;
}

.parralaxImg .text {
    position: relative;
    z-index: 3;
    color: white;
}

.parralaxImg .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 158, 219, 0.9) 0%, transparent 100%);
    z-index: 2;
}
/* In-between */
.inBetween {
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    /* height: 25rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 0; */

    overflow: hidden;
    max-height: 0;
    opacity: 0;
    margin-top: -7rem;
    z-index: 1;
    transition: all 2s ease-in-out;
}

.inBetween.open {
    max-height: 5000px;
    opacity: 1;
    overflow: visible;
    /* padding: 10rem 0; */

    margin-top: 0;
}

.bgLogo {
    opacity: 10%;
    width: 50rem;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.inBetween > *:not(.bgLogo) {
    position: relative;
    z-index: 1;
    text-align: center;
}

/* Banner 1 */
#banner1 { z-index: 5; }

#banner1 .text p {
    line-height: 1;
}

#banner1 .text {
    text-align: center;
    margin-bottom: 2.5rem;
}

#banner1 .text p:nth-child(1){
    font-size: 4rem;
}

#banner1 .text p:nth-child(2){
    font-size: 6rem;
}

/* Banner 2 */
#banner2 { z-index: 4; }

#banner2 .text p {
    line-height: 1;
}

#banner2 .text {
    text-align: center;
    margin-bottom: 3.5rem;
    width: 100%;
}

#banner2 .text p:nth-child(1){
    font-size: 4rem;
}

#banner2 .text p:nth-child(2){
    font-size: 2rem;
}

/* Banner 3 */
#banner3 { 
    z-index: 3;
    /* margin-top: 0; */
}

#banner3 img {
    transform: scale(1.2) translateY(8%);
}

#banner3 .text {
    position: absolute;
    top: 7.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3; 
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    
    padding: 0px 60px; 
    box-sizing: border-box;
    
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

#banner3 .text div p {
    margin: 0;
    line-height: 1.7;
}

#banner3 .text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: -10rem;
}

#banner3 .text2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

}

#banner3 .text3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-top: -10rem;
}

/* In-between 1 */
#between1.open {
    margin-top: 10rem;
}

#between1 p {
    width: 60%;
    font-size: 2rem;
}

/* In-between 2 */
#between2 {
    display: block;
    width: 75%;
    align-items: center;
}

#between2.open {
    margin:0 auto;
    margin-top: 2rem;
}

/* In-between 3 */
#between3 {
    padding-bottom: 7rem;
}
#between3.open {
    margin-top: 7rem;
    padding-bottom: 0rem;
}


.navigationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px 0;
    width: 100%;
    margin-top: -5rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.navigationContainer .row {
    width: 75%;
    max-width: 900px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    background-position: center;
    /* background-color: rgba(0, 0, 0, 0.5);  */
    /* background-blend-mode: multiply; */
    
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 4px;
    transition: 0.3s;
}

.navigationContainer .row:hover {
    transform: scale(1.02) translateY(-1rem);
}

.navigationContainer .col:hover {
    transform: scale(1) translateY(-1rem);
}

.navigationContainer .btnContainer {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.navigationContainer .btnContainer .col {
    width: 135px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    background-position: center;
    
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s;
    
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 8px;
}

.btnContainer .col:nth-child(2),
.btnContainer .col:nth-child(4) {
    margin-top: 5rem;
}

.btnContainer .col:nth-child(3) {
    margin-top: 10rem;
}